/* Center the h1 title */
h1 {
  text-align: center;
}

/* Side-by-side divs */
.left-div,
.right-div {
  width: 45%;
  float: left;
  margin: 10px 2.5%;
}

/* Final bottom div */
.return-link {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: right;
}

/* Set h3 font weight */
h3 {
  font-weight: 500;
}

/* Set list font weight */
ol, ul {
  font-weight: 300;
}

/* Common border box style */
.left-div .border-box,
.right-div .border-box {
  border-radius: 15px;
  padding: 10px;
}

/* Specific borders */
.left-div .border-box {
  border: 1px solid red;
}

.right-div .border-box {
  border: 1px dashed red;
}

/* Ordered list style */
.left-div ol,
.right-div ul {
  list-style-position: inside;
  margin: 0;
  padding-left: 20px;
}

.right-div ul {
  list-style-type: upper-roman;
}

/* Link hover effect */
a:hover {
  text-decoration: underline;
}